
<h1>To Begin Creating a Community, Create Your Own Group:</h1>
<h3 class='margin'>Please Create a Group:</h3>
<form action= "/create_group" method="post">
  <div>
    <label for="group" class="form-control form-rounded" rows="3">Name Your Group:</label>
    <input name="group" type="text" class='form-control form-founded' placeholder='Text input'>
  </div>
  <br>
  <div>
    <label for="description" class="form-control form-rounded" rows="3">In a Few Short Words, Describe Your Group:</label>
    <input name="description" type="text" class='form-control form-founded' placeholder='Text input'>
  </div>
  <br>
    <button type='submit'>Submit</button>
  <br>
</form>
<br><br>
<h2 class='margin'>Groups:</h2>
 <% if @groups.any? %>
 <h2>Click on a Group To Learn More About It!</h2>
 <ul>
 <% @groups.each do |g| %>
<h3><li><a href='/services/<%= g.id %>'><%= g.interest %></a></li></h3>
</ul>
   <% end %>
   <% else %>
    <h3>There are currently no groups. Create one now!</h3>
    <% end %>
