<div class='container'>
<h1>Welcome to the Shady Vista!</h1>
<h2>We strive to support one another and bring the community together.</h2>
<h3>Please verify your address:</h3>
<form action='/entry' method='post'>
  <div>
    <label for='address'>Please enter your address:</label>
    <input name='address' type='text'>
  </div>
  <button type='submit'>Submit</button>
</form>
</div>
