<table class='table' id='margin'>
  <tr>
    <th><h3>Service:</h3></th>
    <th><h3>Details:</h3></th>
    <th><h3>Contact:</h3></th>
  </tr>
  <tr>
    <td><h3><%= @service.location %></h3></td>
    <td><h3><%= @service.detail %></h3></td>
    <td><h3><a href='/user_info/<%= @user.id %>'<%= @service.users.name %></h3></td>
  <tr>
</table>
